<div class="navbar">
  <div class="navbar__content">
    <div class="logo">
      <a [routerLink]="['/']">
        <img src="../assets/images/logo-ibba.svg" alt="ibba-logo" />
      </a>
    </div>
    <div class="profile">
      <div class="profile__language">
        <span class="choose">PT</span>
      </div>
      <div class="profile__menu">
        <div class="profile__menu--avatar"></div>
        <div class="profile__menu--info">
          <span class="user">John Doe</span>
          <span class="role">Diretor Itaú BBA</span>
        </div>
        <img src="../assets/images/chevron-down.svg" alt="expand" />
      </div>
    </div>
  </div>
</div>
