.content {
  width: 100%;

  table {
    width: 100%;
  }

  .main__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.8rem;

    .headline {
      &__title {
        font-size: 2rem;
        font-weight: 700;
        margin: 0 0 5px 0;
      }
      &__tagline {
        font-size: 1.4rem;
        font-weight: 300;
      }
    }

    .search {
      width: 400px;
      font-size: 0.875rem;
      padding: 0.875rem;
      border: 1px solid var(--light);
      border-radius: 5px;
    }
  }

  .green {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #6ef775;
    margin-left: 16px;
  }

  .red {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ff7573;
    margin-left: 16px;
  }
}

::ng-deep .mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  color: #fff !important;
}
