.content {
  width: 100%;

  .main__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;

    .headline {
      &__title {
        font-size: 2rem;
        font-weight: 700;
      }
      &__tagline {
        font-size: 1.2rem;
        font-weight: 300;
      }
    }
  }

  .wrapper {
    width: 100%;

    &__form {
      .address {
        margin-bottom: 2.8rem;

        &__title {
          font-size: 0.875rem;
          font-weight: 500;
          margin-bottom: 1rem;
        }

        &__formgroup {
          display: grid;
          grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
          gap: 16px;
          align-items: center;
        }
      }

      .company {
        width: 75%;
        margin-bottom: 2.8rem;

        &__title {
          font-size: 0.875rem;
          font-weight: 500;
          margin-bottom: 1rem;
        }

        &__formgroup {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
          gap: 16px;
          align-items: center;
        }
      }

      .button-container {
        display: flex;

        .mat-flat-button {
          margin-right: 0.75rem;
          font-size: 1.2rem;
          font-weight: bold;
          padding: 0.35rem 2rem;
        }
      }
    }
  }
}

::ng-deep .mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  color: #fff !important;
}
