<ngx-spinner
  bdColor="rgba(0,0,0,0.8)"
  size="medium"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
>
<div class="content">
  <header class="main__header">
    <div class="headline">
      <h1 class="headline__title">
        Polo {{ subsidiary.id ? subsidiary.name : "Novo" }}
      </h1>
      <p class="headline__tagline">
        {{
          subsidiary.id ? "exibindo detalhes do polo" : "registro de novo polo"
        }}
        {{ subsidiary.id ? subsidiary.name : "" }}
        #{{ subsidiary.id ? subsidiary.id : "" }}
      </p>
    </div>
  </header>

  <main class="wrapper">
    <form
      class="wrapper__form"
      [formGroup]="form"
      (ngSubmit)="form.valid && addSubsidiary()"
      novalidate
    >
      <section class="address">
        <h2 class="address__title">Detalhes do Endereço</h2>

        <div class="address__formgroup">
          <mat-form-field appearance="outline">
            <mat-label>CEP</mat-label>
            <input
              matInput
              placeholder="CEP"
              formControlName="cep"
              (blur)="consultaCEP()"
              mask="00000-000"
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Nome da rua</mat-label>
            <input
              matInput
              placeholder="Nome da rua"
              formControlName="logradouro"
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Bairro</mat-label>
            <input matInput placeholder="Bairro" formControlName="bairro" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Estado</mat-label>
            <input matInput placeholder="Estado" formControlName="uf" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Cidade</mat-label>
            <input matInput placeholder="Cidade" formControlName="localidade" />
          </mat-form-field>
        </div>
      </section>

      <section class="company">
        <h2 class="company__title">Detalhes da Empresa</h2>

        <div class="company__formgroup">
          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input
              matInput
              placeholder="Nome"
              formControlName="name"
              required
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Business</mat-label>
            <input
              matInput
              placeholder="Business"
              formControlName="business"
              required
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Valuation</mat-label>
            <input
              matInput
              currencyMask
              placeholder="Valuation"
              formControlName="valuation"
              [options]="{
                align: 'left',
                prefix: 'R$ ',
                thousands: '.',
                decimal: ','
              }"
              required
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>CNPJ</mat-label>
            <input
              matInput
              placeholder="Digite o CNPJ"
              formControlName="cnpj"
              mask="00.000.000/0000-00"
              required
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Ativo?</mat-label>
            <mat-select
              [(value)]="selected"
              formControlName="active"
              placeholder="Selecione uma opção"
            >
              <mat-option value="1">Sim</mat-option>
              <mat-option value="2">Não</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </section>

      <div class="button-container">
        <button mat-flat-button color="primary" routerLink="/sedes">
          Voltar
        </button>
        <button mat-flat-button color="accent" [disabled]="!form.valid">
          Salvar
        </button>
      </div>
    </form>
  </main>
</div>
