<ngx-spinner
  bdColor="rgba(0,0,0,0.8)"
  size="medium"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
>
<div class="content">
  <header class="main__header">
    <div class="headline">
      <h1 class="headline__title">
        Polo {{ subsidiary.id ? subsidiary.name : "Novo" }}
      </h1>
      <p class="headline__tagline">
        {{
          subsidiary.id ? "exibindo detalhes do polo" : "registro de novo polo"
        }}
        {{ subsidiary.id ? subsidiary.name : "" }}
        #{{ subsidiary.id ? subsidiary.id : "" }}
      </p>
    </div>
  </header>

  <main class="wrapper">
    <form
      class="wrapper__form"
      [formGroup]="form"
      (ngSubmit)="form.valid && addSubsidiary()"
      novalidate
    >
      <section class="address">
        <h2 class="address__title">Detalhes do Endereço</h2>

        <div class="address__formgroup">
          <mat-form-field appearance="outline">
            <mat-label>CEP</mat-label>
            <input
              matInput
              placeholder="CEP"
              formControlName="cep"
              (blur)="consultaCEP()"
              mask="00000-000"
            />
            <mat-error *ngIf="form.controls.cep.hasError('required')"
              >CEP é obrigatório</mat-error
            >
            <mat-error *ngIf="form.controls.cep.hasError('minlength')"
              >Deve ter pelo menos 3 caracteres</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Nome da rua</mat-label>
            <input
              matInput
              placeholder="Nome da rua"
              formControlName="logradouro"
            />
            <mat-error *ngIf="form.controls.logradouro.hasError('required')"
              >Logradouro é obrigatório</mat-error
            >
            <mat-error *ngIf="form.controls.logradouro.hasError('minlength')"
              >Deve ter pelo menos 3 caracteres</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Bairro</mat-label>
            <input matInput placeholder="Bairro" formControlName="bairro" />
            <mat-error *ngIf="form.controls.bairro.hasError('required')"
              >Bairro é obrigatório</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Estado</mat-label>
            <input matInput placeholder="Estado" formControlName="uf" />
            <mat-error *ngIf="form.controls.uf.hasError('required')"
              >Estado é obrigatório</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Cidade</mat-label>
            <input matInput placeholder="Cidade" formControlName="localidade" />
            <mat-error *ngIf="form.controls.localidade.hasError('required')"
              >Cidade é obrigatório</mat-error
            >
          </mat-form-field>
        </div>
      </section>

      <section class="company">
        <h2 class="company__title">Detalhes da Empresa</h2>

        <div class="company__formgroup">
          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Nome" formControlName="name" />
            <mat-error *ngIf="form.controls.name.hasError('required')"
              >Nome é obrigatório</mat-error
            >
            <mat-error *ngIf="form.controls.name.hasError('minlength')"
              >Deve ter pelo menos 3 caracteres</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Business</mat-label>
            <input matInput placeholder="Business" formControlName="business" />
            <mat-error *ngIf="form.controls.business.hasError('required')"
              >Business é obrigatório</mat-error
            >
            <mat-error *ngIf="form.controls.business.hasError('minlength')"
              >Deve ter pelo menos 3 caracteres</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Valuation</mat-label>
            <input
              matInput
              currencyMask
              placeholder="Valuation"
              formControlName="valuation"
              [options]="{
                align: 'left',
                prefix: 'R$ ',
                thousands: '.',
                decimal: ','
              }"
            />
            <mat-error *ngIf="form.controls.valuation.hasError('required')"
              >Valuation é obrigatório</mat-error
            >
            <mat-error *ngIf="form.controls.valuation.hasError('minlength')"
              >Deve ter pelo menos 3 caracteres</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>CNPJ</mat-label>
            <input
              matInput
              placeholder="Digite o CNPJ"
              formControlName="cnpj"
              mask="00.000.000/0000-00"
            />
            <mat-error *ngIf="form.controls.cnpj.hasError('required')"
              >CNPJ é obrigatório</mat-error
            >
            <mat-error *ngIf="form.controls.cnpj.hasError('maxlength')"
              >Deve ter 18 caracteres</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Ativo?</mat-label>
            <mat-select
              [(value)]="selected"
              formControlName="active"
              placeholder="Selecione uma opção"
            >
              <mat-option [value]="true">Sim</mat-option>
              <mat-option [value]="false">Não</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.active.hasError('required')"
              >Ativo é obrigatório</mat-error
            >
          </mat-form-field>
        </div>
      </section>

      <div class="button-container">
        <button mat-flat-button color="accent" routerLink="/sedes">
          Voltar
        </button>
        <button mat-flat-button color="primary" [disabled]="!form.valid">
          Salvar
        </button>
      </div>
    </form>
  </main>
</div>
