/* You can add global styles to this file, and also import other style files */
@import "@angular/material/theming";
@import "~ngx-toastr/toastr";

$custom-app-primary: mat-palette($mat-orange, 600);
$custom-app-secondary: mat-palette($mat-gray, 600);
$custom-app-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme(
  $custom-app-primary,
  $custom-app-secondary,
  $custom-app-warn
);

@include angular-material-theme($custom-theme);

:root {
  --primary: #ffe0cc;
  --secondary: #fa8341;
  --base: #333;
  --button: #989898;
  --light: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

::placeholder {
  color: var(--button);
}
