/* You can add global styles to this file, and also import other style files */

:root {
  --primary: #ffe0cc;
  --secondary: #fa8341;
  --base: #333;
  --button: #989898;
  --light: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

::placeholder {
  color: var(--button);
}
